@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================== */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 36, 36, 36;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* ============================================== */

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-primary/40 hover:text-primary/40;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-primary/40 focus:text-primary/40 hover:border-primary/40;
  }
}
